<link rel="stylesheet" href="/css/comment_card.css">

<li id="comment-<%= comment._id %>" class="comment">
    <div id="comment-header">
        <div id="comment-user">
            <div id="profile-image">
                <img src="<%= comment.user.avatar %>" onerror="this.src='/images/avatar-default.png';">
            </div>
            <div id="comment-user-name-createdat">
                <p>
                    <%= comment.user.name %>
                </p>
                <p id="comment-created-at">
                    
                    <%= (moment(comment.createdAt)).from(moment()) %>
                </p>
            </div>
        </div>
        
        <% if (locals.user && (locals.user.id == comment.user.id || locals.user.id == comment.post.user)) { %>
            <small>
                <a class="delete-comment-button" href="/comment/destroy/<%= comment.id %>"><i class="fas fa-trash-alt"></i></a>
            </small>
        <%  } %>
    </div>
    <div id="comment-content">
        <p>
            <%= comment.content %>
        </p>
        <div id="comment-likes">
            <% if (locals.user) { %>
                <small>
                    <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%= comment.id %>&type=Comment">
                        <%= comment.likes.length %> Likes
                    </a>
                </small>
            <% }else {%>
                <small>
                    
                        <%= comment.likes.length %> Likes
                    
                </small>
            <%} %>
        </div>
    </div>
</li>