<li id="post-<%= post._id %>">
    <% if (locals.user && locals.user.id == post.user.id) { %>
        <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">X</a>
    <% } %>
    <p>
        <%= post.content %>
        <br>
        <small>
            <%= post.user.name %>
        </small>
        <br>
        <% if (locals.user) { %>
            <small>
                <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%= post.id %>&type=Post">
                    <%= post.likes.length %> Likes
                </a>
            </small>
        <% }else {%>
            <small>
                
                    <%= post.likes.length %> Likes
                
            </small>
        <%} %>
        
    </p>
    <div class="post-comments-list">
        <ul id="post-comment-<%= post._id %>">
            <% for (comment of post.comments){ %>
                
                <%- include('_comment.ejs') -%>

            <% } %>
        
        </ul>
        <% if (locals.user) {%>
            <form id="post-<%= post._id %>-comments-form" action="/comment/create" method="POST">
                <input type="text" name="content" placeholder="Add comment.." required>
                <input type="hidden" name="post" value="<%= post._id %>" >
                <input type="submit" value="Add Comment">
            </form>
        <% } %>
    </div>
</li>